<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <app-menu></app-menu>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3>About page</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam ipsam neque aspernatur quaerat quo, asperiores, nihil id dolorum, iure iusto ducimus eos repellat autem. Minus adipisci cupiditate odit dolor dolore!
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam ipsam neque aspernatur quaerat quo, asperiores, nihil id dolorum, iure iusto ducimus eos repellat autem. Minus adipisci cupiditate odit dolor dolore!
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam ipsam neque aspernatur quaerat quo, asperiores, nihil id dolorum, iure iusto ducimus eos repellat autem. Minus adipisci cupiditate odit dolor dolore!
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam ipsam neque aspernatur quaerat quo, asperiores, nihil id dolorum, iure iusto ducimus eos repellat autem. Minus adipisci cupiditate odit dolor dolore!
          </p>




          <ul class="nav nav-tabs"> 
            <li class="nav-item">
              <a class="nav-link" routerLink="/about/company">Company</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about/team">Team</a>
            </li> 
          </ul>


          <router-outlet></router-outlet>


          
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mt-5">
  <app-footer></app-footer>
</div>